---
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section.astro";
import ShortBanner from "@components/ShortBanner.astro";

const pageTitle = "About Me";
---

<BaseLayout pageTitle={pageTitle}>
  <ShortBanner />
  <Section sectionHeading={pageTitle}>
    <p>
      I'm a software developer with extensive experience in web development,
      Microsoft Office and other unmentionables that I'd like to forget.
    </p>

    <p>
      I blog about different aspects of web development such as JavaScript, CSS, C#,
      NodeJS and databases, though I touch on other topics of interest as well.
    </p>

    <p>
      I live in Melbourne, Australia with family. I'm something of a beer
      enthusiast, gardener and woodworker. I've built a couple of nice-ish timber items 
      (a few carved bowls and spoons, and a lidded box)
      and am currently re-building my workbench based on things I've learned using it so far.
    </p>

    <p>
      This site is definitely a work in progress too. The process of owning and
      building a site is one that I generally wouldn't experience while working
      for others and it exposes me to new elements such as owning a domain,
      managing hosting and configuring TLS.
    </p>
  </Section>
</BaseLayout>
