---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section.astro";
import CardList from "@components/CardList.astro";
import ShortBanner from "@components/ShortBanner.astro";

const pageTitle = "Articles";

const allPosts = await getCollection('articles');

---

<BaseLayout pageTitle={pageTitle}>
  <ShortBanner />

  <Section sectionHeading={pageTitle}>
    <p>
      I'm writing about various topics relevant to web development, Azure and
      other things software related.
    </p>
    <p>
        Several items are personal projects that are either in progress or completed. 
        Projects include a description of the project, a discussion of any interesting things that occurred.
        There should be a GitHub repo associated with them. If they are running, you'll be able to check them out.
        I don't have production constraints, so they come and go.
    </p>

    <CardList cardListItems={allPosts} />
  </Section>
</BaseLayout>
