---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section.astro";
// import CardList from "@components/CardList.astro";
import ShortBanner from "@components/ShortBanner.astro";
import ArticleList from "@components/ArticleList.astro";

const pageTitle = "Articles";

const allPosts = await getCollection('articles');

const sortedPosts = allPosts.sort((a, b) => new Date(b.data.date) - new Date(a.data.date));
// console.log("the date as a date:", new Date( allPosts[0].data.date));
// console.log("compare 2 dates", new Date(allPosts[0].data.date), new Date(allPosts[1].data.date), new Date(allPosts[1].data.date) - new Date(allPosts[0].data.date))
---

<BaseLayout pageTitle={pageTitle}>
  <ShortBanner />

  <Section sectionHeading={pageTitle}>
    <p>
      I'm writing about various topics relevant to web development, Azure and
      other things software related.
    </p>
    <p>
        Several items are personal projects that are either in progress or completed. 
        Projects include a description of the project, a discussion of any interesting things that occurred.
        There should be a GitHub repo associated with them. If they are running, you'll be able to check them out.
        I don't have production constraints, so they come and go.
    </p>

    <ArticleList articleListItems={sortedPosts} />
    <!-- <CardList cardListItems={allPosts} /> -->
  </Section>
</BaseLayout>
