---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";
import Section from "@components/Section.astro";
import Banner from "@components/Banner.astro";
import CardList from "@components/CardList.astro";

const pageTitle = "Home";

const allPosts = await getCollection('posts');

---

<BaseLayout pageTitle={pageTitle}>
  <Banner />

  <Section sectionHeading="Hi I'm Mike">
    <p>I'm a software developer, woodworker, gardener and beer enthusiast.</p>
    <p>
      I maintain a tech blog here where I write about web development topics and
      also show the tech projects I have underway or have completed. If they are
      in a running state, you'll be able to check it out. They come and go - I
      don't have production constraints.
    </p>
  </Section>
  
  <Section sectionHeading="My Latest Posts" isSectionDark>
	<CardList cardListItems={allPosts} />

  </Section>

  <Section sectionHeading="Test section">
	<p>This is a section.</p>
	<p>This section has a second paragraph.</p>
  </Section>

  
  <Section sectionHeading="Test section" isSectionDark>
	<p>This is a section.</p>
	<p>This section has a second paragraph.</p>
  </Section>
</BaseLayout>
