---
---

<section class="banner">
  <div>
    <h1 class="banner-heading">Mike Hansford</h1>
    <p class="banner-content">Web development, C#, Azure</p>
  </div>
</section>

<style>
  .banner {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2e3141;
    background-image: url("../images/bannerBackground.jpg");
  }

  .banner-heading {
    color: white;
    font-family: var(--heading-font);
  }

  .banner-content {
    font-size: 1.25rem;
    color: white;
    font-family: var(--heading-font);
    letter-spacing: 0.4rem;
  }
</style>
