---
const { tags } = Astro.props;
---

{
    tags && 
    tags.map((tag) => <span class="cardList-tag px0-5">{tag}</span>)
}

<style>
    .cardList-tag {
        border: 2px solid #ac8c91;
        border-radius: 1rem;
        background-color: #ac8c91;
        color: white;
        display:flex;
        align-items: center;
        justify-content: center;
    }
</style>